<div class="card">
  <div class="card-header"><b>Buscar Datos</b></div>
  <div class="card-body">
    <app-search [accionBuscar]="buscarDatos" [accionNuevo]="onNuevo"></app-search>

    <div class="row align-items-center">
      <app-listar-datos [datos]="ListaDatos()" />
    </div>

    <app-paginacion
      [currentPage]="ListaDatos().pagina"
      [totalPages]="ListaDatos().totalPaginas"
      [hasPrev]="ListaDatos().tienePaginaAnterior"
      [hasNext]="ListaDatos().tienePaginaSiguiente"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>
