<div class="modal fade" [id]="modalId()" tabindex="-1">
  <div class="modal-dialog {{ size() ? 'modal-' + size() : '' }}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <ng-content select="[modal-title]"></ng-content>
        </h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <ng-content select="[modal-body]"></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
