<li class="nav-item">
  <a
    class="nav-link text-white"
    data-bs-toggle="collapse"
    href="#submenuReportesMobile"
    role="button"
  >
    📊 Reportes
  </a>
  <div class="collapse show ps-3" id="submenuReportesMobile">
    <a href="#" class="nav-link text-white">• Ventas</a>
    <a href="#" class="nav-link text-white">• Usuarios</a>
    <a href="#" class="nav-link text-white">• Actividad</a>
  </div>
</li>

<li class="nav-item">
  <a
    class="nav-link text-white"
    data-bs-toggle="collapse"
    href="#submenuConfigMobile"
    role="button"
  >
    ⚙️ Configuración
  </a>
  <div class="collapse show ps-3" id="submenuConfigMobile">
    <a href="#" class="nav-link text-white">• Perfil</a>
    <a href="#" class="nav-link text-white">• Seguridad</a>
    <a href="#" class="nav-link text-white">• Preferencias</a>
  </div>
</li>
