<div class="table-responsive">
  <table class="table table-sm table-hover border-dark mt-4">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario Cuenta</th>
        <th scope="col">Usuario Nombre</th>
        <th scope="col">Usuario Estado</th>
        <th class="d-none d-md-table-cell" scope="col">Rol ID</th>
        <th class="d-none d-md-table-cell" scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      @if(datos().datos.length === 0) {
      <tr>
        <td colspan="4" class="text-center">No hay datos disponibles</td>
      </tr>
      } @else { @for (item of datos().datos; track $index) {
      <tr class="context-row" (contextmenu)="onRightClick($event, item)">
        <td>{{ item.usuarioID }}</td>
        <td>{{ item.usuarioCuenta }}</td>
        <td>{{ item.usuarioNombre }}</td>
        <td>{{ item.activoDescripcion }}</td>
        <td class="d-none d-md-table-cell">{{ item.rolID }}</td>
        <td class="d-none d-md-table-cell">{{ item.rolNombre }}</td>
      </tr>
      } }

      <app-constext-menu
        [menuVisible]="contextMenu.menuVisible()"
        [menuX]="contextMenu.menuX()"
        [menuY]="contextMenu.menuY()"
        [actions]="contextMenu.actions()"
        [contextData]="contextMenu.selectedData()"
        (actionSelected)="handleAction($event)"
      />
    </tbody>
  </table>

  <!-- <app-modal [modalId]="'userModal'" [visible]="showModal">
    <span modal-title>Mi Modal</span>
    <div modal-body>
      <p>Hola 👋 este es el contenido del modal.</p>
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" (click)="closeModal()" autofocus>Cerrar</button>
      <button class="btn btn-success">Aceptar</button>
    </div>
  </app-modal> -->
</div>
