<div class="table-responsive">
  <table class="table table-sm table-hover border-dark mt-4">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Usuario</th>
        <th class="d-none d-md-table-cell" scope="col">Rol ID</th>
        <th class="d-none d-md-table-cell" scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      @if(datos().datos.length === 0) {
      <tr>
        <td colspan="4" class="text-center">No hay datos disponibles</td>
      </tr>
      } @else { @for (item of datos().datos; track $index) {
      <tr class="context-row" (contextmenu)="onRightClick($event, item)">
        <td>{{ item.usuarioID }}</td>
        <td>{{ item.usuarioNombre }}</td>
        <td class="d-none d-md-table-cell">{{ item.rolID }}</td>
        <td class="d-none d-md-table-cell">{{ item.rolNombre }}</td>
      </tr>
      } }

      <app-constext-menu
        [menuVisible]="menuVisible()"
        [menuX]="menuX()"
        [menuY]="menuY()"
        [actions]="actions"
        [contextData]="selectedUser()"
        (actionSelected)="handleAction($event)"
      />

      <!-- <app-buscar-usuario-context-menu
        [menuVisible]="menuVisible()"
        [menuX]="menuX()"
        [menuY]="menuY()"
        (editar)="editar()"
        (eliminar)="eliminar()"
      >
      </app-buscar-usuario-context-menu> -->
    </tbody>
  </table>
</div>
