@for (menu of servicio.menus(); track $index) {

<li class="nav-item">
  <a
    class="nav-link text-white"
    data-bs-toggle="collapse"
    [attr.href]="'#' + menu.menuNombre"
    role="button"
    routerLinkActive="text-info fw-bold"
  >
    📊 {{ menu.menuNombre }}
  </a>
  <div class="collapse show ps-3" [id]="menu.menuNombre">
    @for (pagina of menu.paginas; track $index) {
    <a
      [routerLink]="[pagina.paginaUrlLink]"
      class="nav-link"
      [class.text-white]="true"
      routerLinkActive="text-dark-emphasis"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      {{ pagina.paginaNombre }}
    </a>
    }
  </div>
</li>
}
