<div class="card">
  <div class="card-header"><b>Buscar Usuarios</b></div>
  <div class="card-body">
    <app-search [accionBuscar]="buscarUsuarios" [accionNuevo]="onNuevo"></app-search>

    <div class="row align-items-center">
      <app-listar-usuario [datos]="ListaUsuarios()" />
    </div>

    <app-paginacion
      [currentPage]="ListaUsuarios().pagina"
      [totalPages]="ListaUsuarios().totalPaginas"
      [hasPrev]="ListaUsuarios().tienePaginaAnterior"
      [hasNext]="ListaUsuarios().tienePaginaSiguiente"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>
