<div class="card">
  <div class="card-header"><b>Buscar Usuarios</b></div>
  <div class="card-body">
    <div class="row g-3 align-items-center">
      <div class="col-12 col-sm-6 col-md-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            [value]="buscar()"
            (input)="buscar.set(txtBuscar.value)"
            #txtBuscar
          />
          <button class="btn btn-primary" type="button" (click)="buscarUsuarios()">
            <i class="bi bi-search"></i> Buscar
          </button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <app-listar-usuario [datos]="ListaUsuarios()" />
    </div>

    <app-paginacion
      [currentPage]="ListaUsuarios().pagina"
      [totalPages]="ListaUsuarios().totalPaginas"
      [hasPrev]="ListaUsuarios().tienePaginaAnterior"
      [hasNext]="ListaUsuarios().tienePaginaSiguiente"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>

<button class="btn btn-primary" (click)="openModal('userModal')">Abrir userModal</button>
<button class="btn btn-primary" (click)="openModal('userModal2')">Abrir userModal2</button>

<app-modal [modalId]="'userModal'">
  <span modal-title>Mi Modal</span>
  <div modal-body>
    <p>Hola 👋 este es el contenido del modal. userModal</p>
  </div>
  <div modal-footer>
    <button class="btn btn-secondary" (click)="closeModal('userModal')" autofocus>Cerrar</button>
    <button class="btn btn-success">Aceptar</button>
  </div>
</app-modal>

<app-modal [modalId]="'userModal2'">
  <span modal-title>Mi Modal</span>
  <div modal-body>
    <p>Hola 👋 este es el contenido del modal. userModal2 sssssssss</p>
  </div>
  <div modal-footer>
    <button class="btn btn-secondary" (click)="closeModal('userModal2')" autofocus>Cerrar</button>
    <button class="btn btn-success">Aceptar</button>
  </div>
</app-modal>
