<div class="main-wrapper">
  <!-- IZQUIERDA -->
  <div class="side-image">
    <div class="side-content">
      <h1 class="display-4 fw-bold mb-3">Bienvenido de nuevo.</h1>
      <p class="lead">Accede a la plataforma táctica de gestión de operaciones más avanzada.</p>
    </div>
  </div>

  <!-- DERECHA -->
  <div class="side-form">
    <div class="login-card">
      <div class="mb-5">
        <h2 class="fw-bold text-dark mb-2">Iniciar Sesión</h2>
        <p class="text-muted">Por favor, introduce tus datos para ingresar.</p>
      </div>

      <div>
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input
            type="text"
            class="form-control"
            placeholder="usuario@ejemplo.com"
            [value]="usuarioCuenta()"
            (focus)="ocultarError()"
            (input)="usuarioCuenta.set(txtUsuarioNombre.value)"
            #txtUsuarioNombre
          />
        </div>

        <div class="mb-4">
          <label class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            placeholder="••••••"
            [value]="password()"
            (focus)="ocultarError()"
            (input)="password.set(txtPassword.value)"
            #txtPassword
          />
        </div>

        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" />
            <label class="form-check-label small text-muted"> Recuérdame </label>
          </div>

          <a href="#" class="small fw-semibold text-decoration-none link-primary">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-login w-100 text-white"
          (click)="login()"
          aria-expanded="false"
        >
          @if (isLoading()) {
            <span class="spinner-border spinner-border-sm me-2"></span>
          }
          Entrar al Sistema
        </button>
        <div
          class="card text-bg-danger card-body mt-3"
          [style.display]="isError() ? 'block' : 'none'"
        >
          {{ messageError() }}
        </div>
        <p class="text-center text-muted small">
          ¿No tienes una cuenta?
          <a href="#" class="fw-bold text-decoration-none link-primary"> Solicitar acceso </a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 350px">
    <h3 class="text-center mb-4">Iniciar Sesión</h3>

    <div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input
          type="text"
          class="form-control"
          placeholder="usuario@ejemplo.com"
          [value]="usuarioCuenta()"
          (focus)="ocultarError()"
          (input)="usuarioCuenta.set(txtUsuarioNombre.value)"
          #txtUsuarioNombre
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          placeholder="••••••"
          [value]="password()"
          (focus)="ocultarError()"
          (input)="password.set(txtPassword.value)"
          #txtPassword
        />
      </div>
      <button type="submit" class="btn btn-primary w-100" (click)="login()" aria-expanded="false">
        @if (isLoading()) {
          <span class="spinner-border spinner-border-sm me-2"></span>
        }
        Ingresar
      </button>

      <div
        class="card text-bg-danger card-body mt-3"
        [style.display]="isError() ? 'block' : 'none'"
      >
        {{ messageError() }}
      </div>
    </div>
  </div>
</div> -->
