<div class="row g-3 align-items-center">
  <div class="col-12 col-sm-6 col-md-6">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        [value]="buscar()"
        (input)="buscar.set(txtBuscar.value)"
        #txtBuscar
      />
      <button class="btn btn-primary" type="button" (click)="onBuscar()">
        <i class="bi bi-search"></i> Buscar
      </button>
      @if(this.accionNuevo()!=undefined) {
      <button class="btn btn-success" type="button" (click)="onNuevo()">
        <i class="bi bi-file-earmark-plus"></i>
      </button>
      }
    </div>
  </div>
</div>
